/**** Body Formatting ****/

body { /* sets the background settings for the webpage and also the body width for the content to use */
    margin:auto auto;
    width:80%;
    height:90%;
    background-color: #000;
}

iframe { /* shapes the size of the embedded youtube videos, etc. */
    display: block;
    width: 672px;  /*112*/
    height: 378px; /*63*/
    border: 22px;
    margin: auto auto;
}

/********/
/**** Body Font ****/

h1 {
    font-size:60px;
    font-family:'Helvetica','Arial','Sans-Serif';
    color: white;
}

h2 {
    font-size:40px;
    font-family:'Helvetica','Arial','Sans-Serif';
    color: white;
}

h3 {
    font-size:28px;
    font-family:'Helvetica','Arial','Sans-Serif';
    color: white;
}

p {
    font-size:22px;
    font-family:'Helvetica','Arial','Sans-Serif';
    line-height:1.15;
    color: white;
}

ul {
    list-style-type:disc;
    margin-left:2.5px;
    color: white;
}

ul li {
    font-size:20px;
    font-family:'Helvetica','Arial','Sans-Serif';
    line-height:1.15;
    color: white;
}

/********/
/**** Header and Footer ****/

nav ul, footer ul { /* sets the header (nav) and footer font, size, and listing-style */
    font-family:'Helvetica','Arial','Sans-Serif';
    padding:0px;
    list-style:none;
    font-weight:bold;
}

nav ul li, footer ul li { /* sets the listing arrangement of the header and footer */
    display:inline;
    margin-right:20px;
}

a { /* sets the header/footer font size and the font to standard font without any emphasis (a because a is the link) */
    font-size:20px;
    text-decoration:none;
    color:white;
}

a:hover { /* sets the header/footer font to show an underline when the cursor is hovering over it */ 
    text-decoration:underline;
}

footer { /* footer font settings */
    font-size:20px;
}

/********/
