body {
    font-family: 'FiraCode', monospace;
    /*font-family: 'BigBlue', monospace;*/
    /*font-family: '3270', monospace;*/
    /*font-family: 'JetBrains', monospace;*/
    font-size: 12pt;

    background-color: #241f31;
    color: #1c71d8;

    width: 90%;
    margin: auto;
}


/*links*/
a {
    color: #c01c28;
}

a:hover {
    color: #813d9c;
}


img {
    margin: auto;
    height: auto;
    max-width: 400px;
}

/*p {*/
    /*margin: auto;*/
/*}*/


.bordered {
    border: solid #62a0ea;
    border-radius: 20pt;
}


/*navbar*/
.navbar-light .navbar-nav .nav-link {
    color: #26a269;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #1a5fb4;
}

.navbar-toggler-icon {
    background-color: #1c71d8;
}


/*misc*/
.figlet {
    line-height: 1;
};
