---
layout: resume
---
<div class="resume">

{% assign exp = site.data.experience %}

<!--Name and title-->

    <div class="name">

        <div class="img-flex">
            <img src="/img/logo/AK_Researcher_zoomed_logo.png">
            </img>
        </div>

        <div class="name-title">
            <h1>{{ exp.name }}</h1>
            {{ exp.title }}
        </div>

    </div>

    <div class="hspan"></div>

    <div class="flex-container">

<!--Left column-->

        <div class="left-flex-container">

            <div class="inside-left-flex-container">

<!--Contact-->

                <h2 id="top-column">Contact</h2>

                <div class="contact">
                    {% for item in exp.contact %}
                        <div class="contact-item">
                            <div class="contact-icon">
                                <img class="contact-icon-img" src="{{ item.icon }}">
                                </img>
                            </div>
                            <div class="contact-name">
                                {{ item.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                <div class="left-hspan"></div>

<!--Education-->

                <h2>Education</h2>

                {% for item in exp.education %}

                    <div class="education-item">
                        <h3>{{ item.shorthand }}</h3>
                        <b>{{ item.name }}</b></br>
                        {{ item.date}}
                    </div>

                {% endfor %}

                <div class="left-hspan"></div>

<!--Skills-->

                <h2>Skills</h2>

                <div class="skills">
                    {% for skill in exp.skills %}
                        <h3>{{ skill.name }}</h3>
                        <ul>
                        {% for item in skill.list %}
                            <li>{{ item.item }}</li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </div>

            </div>

        </div>

        <div class="vspan-flex">
            <div class="vspan"></div>
        </div>

<!--Right column-->

        <div class="right-flex-container">

            <div class="inside-right-flex-container">

<!--Motivation-->

                <h2 id="top-column">Motivation</h2>
                
                {{ exp.motivation }}

                <div class="right-hspan"></div>

<!--Experience-->

                <h2>Experience</h2>

    <!--Research-->

                {% for item in exp.research %}
                    
                    <div class="education-item">
                        <h3>{{ item.title }}</h3>
                        {{ item.institute }}
                        {{ item.location }}
                        {{ item.date }}
                        {{ item.description }}
                    </div>

                {% endfor %}

    <!--Work-->

                {% for item in exp.vocation %}
                    
                    <h3>{{ item.title }}</h3>
                    {{ item.institute }}

                {% endfor %}
            
            </div>

<!--Publications-->
            
            <div class="inside-right-flex-container">

                <h2>Publications</h2>

                {% for item in site.data.publications.articles %}
                    
                    {% if item.resume %}

                        <h3>{{ item.title }}</h3>
                        {{ item.authors }}, ({{ item.year }})

                    {% endif %}

                {% endfor %}

            </div>
        
        </div>

    </div>

</div>
