body {
    font-family: 'FiraCode', monospace;
    /*font-family: 'BigBlue', monospace;*/
    /*font-family: '3270', monospace;*/
    /*font-family: 'JetBrains', monospace;*/
    font-size: 12pt;

    background-color: #1b1f32;
    color: #99e9ff;

    width: 90%;
    margin: auto;
}


h1 {
    padding-top: 30px;
    padding-bottom: 30px;
}


ol li {
    padding-bottom: 20px;
}


/*links*/
a {
    color: #9094a7;
}

a:hover {
    color: #8b9efd;
}

a .icon {
    color: #99e9ff;
}

a .icon:hover {
    color: #8b9efd;
}


.bordered {
    border: solid #67c9e4;
    border-radius: 20pt;
    padding: 30px;
    margin: 40px 0;
}


/*navbar*/
.navbar-light .navbar-nav .nav-link {
    color: #8b9efd;
}

.navbar-light .navbar-nav .nav-item:hover .nav-link {
    color: #67c9e4;
}

.navbar-toggler-icon {
    background-color: #99e9ff;
}


/*index*/
a .fa-replacement-icon:hover {
    border-bottom: 4px solid blue;
    border-bottom-color: #8b9efd;
}


/*misc*/
.figlet {
    line-height: 1;
    overflow: visible;
}

.pub-title {
    font-size: min(1.4vw, 14pt);
}

.name {
    font-size: min(2vw, 12pt);
    overflow: visible;
}

.wave {
    font-size: min(0.37vw, 3pt);
    text-align: center;
    overflow: visible;
}

.small-waves {
    font-size: 1.1vw;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.article {
    margin: 0 auto;
    width: 100%;
}

.article-wrapper {
    margin: 0 auto;
    max-height: 670px;
    overflow: auto;
}

#first_author::marker {
    font-weight: bold;
    font-style: italic;
}

.footer-copyright {
    font-size: 8pt;
    text-align: center;
}
