<header id="head">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Douglas Keller Jr.</h1>
            <hr>
            <p>Welcome to my webpage! I'm a PhD student at the Laboratoire de Météorologie Dynamique, part of the Institute Pierre-Simon Laplace, at École Polytechnique, in France.</p>
            <hr>
            <p>Bonjour, ici ma page web ! Je suis un étudiant de thèse au Laboratoire de Météorologie Dynamique, partie de l'Institut Pierre-Simon Laplace, à l'École Polytechnique, en France.</p>
        </div>
    </div>
</header>
