<section class="no-padding" id="research">
    <div class="bg-dark">
        <h1>RESEARCH / RECHERCHE</h1>
    </div>
    <div class="container-fluid">


        <div class="row no-gutter">


            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/mistral_wind_pres.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Oceanography
                            </div>
                            <div class="project-name">
                                Mistral and Dense Water Formation in the Mediterranean Sea
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Energy
                            </div>
                            <div class="project-name">
                                Seafuel
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/mirage_bef_aft.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Atmospheric Science and Optics
                            </div>
                            <div class="project-name">
                                Superior Miraging
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/mplnet_demo.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Atmospheric Science and Optics
                            </div>
                            <div class="project-name">
                                MPLNET Wavelet and Planetary Boundary Layer Detection
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/foss_load_cell.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optics and Stress
                            </div>
                            <div class="project-name">
                                FOSS Load Cell
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Empty
                            </div>
                            <div class="project-name">
                                Waiting for more Research :)
                            </div>
                        </div>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>
