#alt-head {
    position: relative;
    width: 100%;
    min-height: auto;
    @include background-cover;
    background-position: center;
    background-image: url('/img/splash/great_wave_black_banner.png');
    text-align: center;
    color: white;
    .header-content {
        position: relative;
        text-align: center;
        padding: 100px 15px 55px;
        width: 100%;
        .header-content-inner {
            h1 {
                font-weight: 700;
                text-transform: uppercase;
                margin-top: 0;
                margin-bottom: 0;
            }
            hr {
                margin: 30px auto;
            }
            p {
                font-weight: bold;
                color: rgba(white, .8);
                font-size: 16px;
                margin-bottom: 0;
            }
        }
    }
    @media (min-width: 768px) {
        min-height: 50%;
        .header-content {
            position: absolute;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
            padding: 0 50px;
            .header-content-inner {
                max-width: 1000px;
                margin-left: auto;
                margin-right: auto;
                p {
                    font-size: 18px;
                    max-width: 80%;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }
}

.content-alt {
    margin: auto;
    margin-top: 7.5%;
    text-align: justify;
    width: 90%;
    @media (min-width: 768px) {
        width: 80%;
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container-box {
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
    @media (min-width: 768px) {
        width: 80%;
        height: 80%;
        padding: 30px;
    }
}
