.contact-container {
	background-color: rgba(5,22,34,1);
}

.social-media-container {
	text-align: center;
	background-color: none;
	padding: 40px;
}

#social-media-icons ul {
	list-style: none;
}

#social-media-icons ul li {
	display: inline-block;
	margin: 0 3.25%;
}

#social-media-icons ul li img {
	height: 50px;
	opacity: .9;
}

#social-media-icons ul li img:hover {
	transition: .5s;
	opacity: .5;
}

.contact-me {
	text-align: center;
}

.contact-me .bar {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(27,160,152,1);
}

.contact-me p {
	color: rgba(27,160,152,1);
	font-size: 24px;
}

.contact-me h1 {
	color: rgba(27,160,152,1);
	font-weight: bold;
}
