.footer {
	font-size: 22px;
	text-align: center;
	padding-top: 22px;
	padding-bottom: 30px;
	color: rgba(27,160,152,1);
}

.footer p {
	display: inline-block;
	margin: 0 6px;
}

.footer-copyright {
	font-size: 28px;
}
