nav ul {
	list-style: none;
	text-align: center;
	display: inline-block;
	border-bottom: solid;
	border-color: rgba(27,160,152,1);
	border-width: thick;
	padding-bottom: 24px;
	margin-right: 3%;
	margin-left: 3%;
	min-width: 57.5%;
}

nav ul li {
	display: inline-block;
	margin: 0 2%;
}

nav ul li a {
	text-decoration: none;
	color: rgba(27,160,152,1);
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

nav ul li a:hover {
	opacity: .5;
	transition: .5s;
}

nav {
	background-color: rgba(5, 22, 34, 1);
	padding: 2px 0;
	width: 100%;
	text-align: center;
	z-index: 300;
}

.sticky {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: rgba(5,22,34,.95);
}

.sticky + .content {
	padding-top: 92px;
}

.nav-bar {
	text-align: right;
	width: 100%;
}
