.no-padding h1 {
    text-align: center;
    font-weight: 550;
    margin: 0;
}

.no-padding .bg-dark {
    padding: 40px;
    margin: 0;
}

.no-padding .bg-primary {
    padding: 40px;
    margin: 0;
}

#projects {
    .portfolio-box-caption {
        background: rgba( $theme-dark, .9 );
    }
}
