<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Originally from Alaska, I'm interested in multiple areas of science and engineering, which has lead me to some interesting places! I played hockey growing up but now I'm a PhD student in France studying dense water formation in the Mediterranean Sea and how to produce fuel from dissolved carbon sequestration! Check out my <a href="#research" class="text-faded">research</a> and my <a href="#projects" class="text-faded">projects</a> to see what else I've been doing.</p>
                <h2 class="section-heading">À propos de moi</h2>
                <hr class="light">
                <p class="text-faded">Originaire d'Alaska, je m'intéresse à plusieurs domaines de la science et de l'ingénierie, ce qui m'a conduit à différents endroits intéressants. J'ai pratiqué le hockey en grandissant, et maintenant je suis un thésard en France à fin d'étudier les formations d'eaux denses dans la Méditerranée et la production de carburant à partir de la séquestration du carbone dissous ! Voyez mes <a href="#research" class="text-faded">recherches</a> et mes <a href="#projects" class="text-faded">projets</a> pour en savoir plus.</p>
            </div>
        </div>
    </div>
</section>
