<section id="contact">
    <div class="container">

        <!--header-->
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Want to chat? See below for different ways to get in touch with me!</p>
            </div>
            <br>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contactez-Moi !</h2>
                <hr class="primary">
                <p>Vous souhaitez discuter ? Ci-dessous mes coordonnées !</p>
            </div>
        </div>

        <br>

        <div class="row">
            
            <div class="col-sm-6 text-center">

                <!--email-->
                <div class="col-md-6 text-center">
                    <a href="mailto:{{ site.email }}">
                    <i class="fas fa-envelope fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.email }}</p>
                    </a>
                </div>

                <!--linkedin-->
                <div class="col-md-6 text-center">
                    <a href="https://www.linkedin.com/in/{{ site.linkedin }}">
                        <i class="fab fa-linkedin-in fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.linkedin }}</p>
                    </a>
                </div>

            </div>
            
            <div class="col-sm-6 text-center">

                <!--github-->
                <div class="col-md-6 text-center">
                    <a href="https://github.com/{{ site.github }}">
                    <i class="fab fa-github fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.github }}</p>
                    </a>
                </div>

                <!--gitlab-->
                <div class="col-md-6 text-center">
                    <a href="https://gitlab.com/{{ site.gitlab }}">
                    <i class="fab fa-gitlab fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.gitlab }}</p>
                    </a>
                </div>

            </div>

        </div>

        <div class="row">

            <div class="col-sm-6 text-center">

                <!--twitter-->
                <div class="col-md-6 text-center">
                    <a href="https://twitter.com/{{ site.twitter }}">
                        <i class="fab fa-twitter fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.twitter }}</p>
                    </a>
                </div>

                <!--itch-->
                <div class="col-md-6 text-center">
                    <a href="https://{{ site.itchio }}.itch.io">
                    <i class="fab fa-itch-io fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.itchio }}</p>
                    </a>
                </div>

            </div>

            <div class="col-sm-6 text-center">

                <!--twitch-->
                <div class="col-md-6 text-center">
                    <a href="https://twitch.tv/{{ site.twitch }}">
                    <i class="fab fa-twitch fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <p>{{ site.twitch }}</p>
                    </a>
                </div>

                <!--youtube-->
                <div class="col-md-6 text-center">
                    <a href="https://www.youtube.com/channel/{{ site.youtube }}">
                    <i class="fab fa-youtube fa-4x wow bounceIn" data-wow-delay=".1s"></i>
                        <!--<p>{{ site.youtube }}</p>-->
                        <p>Alaskan Researcher</p>
                    </a>
                </div>

            </div>

        </div>

    </div>
    
    <br>

    <!--copyright-->
    <div class="copyright text-center">
        <i class="far fa-copyright text-primary"></i> 2021, Douglas Keller Jr.
    </div>
</section>
