<section id="experience">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1 class="section-heading">EXPERIENCE / EXPÉRIENCE</h1>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 text-center">
                <div class="service-box">
                    <a href="/resume.html">
                        <i class="fas fa-6x fa-file-alt wow bounceIn text-primary"></i>
                        <h3>Resume / CV</h3>
                        <br>
                        <p class="text-muted">A short summary of my experience and skills!</p>
                        <br>
                        <p class="text-muted">Un petit résumé de mon expérience et de mes compétences !</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 text-center">
                <div class="service-box">
                    <a href="/curriculum_vitae.html">
                        <i class="far fa-6x fa-file-code wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Curriculum Vitae / Résumé</h3>
                        <br>
                        <p class="text-muted">All of my experience!</p>
                        <br>
                        <p class="text-muted">Toute mon expérience!</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
