<section class="no-padding" id="projects">
    <div class="bg-primary">
        <h1>PROJECTS / PROJETS</h1>
    </div>
    <div class="container-fluid">

        <div class="row no-gutter">

            <!--PySoundings-->

            <div class="col-lg-4 col-sm-6">
                <a href="https://www.alaskanresearcher.dev/pysoundings/pysoundings.html" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Software and Atmospheric Science
                            </div>
                            <div class="project-name">
                                PySoundings
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--PyNondimensionalizer-->

            <div class="col-lg-4 col-sm-6">
                <a href="https://www.alaskanresearcher.dev/PyNondimensionalizer/pynondimensionalizer.html" class="portfolio-box">
                    <!--image here-->
                    <img src="/img/portfolio/place_holder_int.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Software and Math
                            </div>
                            <div class="project-name">
                                PyNondimensionalizer
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Beam Splitter Mount-->

            <div class="col-lg-4 col-sm-6">
                <a href="/projects/beam_splitter_mount.html" class="portfolio-box">
                    <!--image here-->
                    <img src="/img/portfolio/bs_holder_port.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Optics
                            </div>
                            <div class="project-name">
                                Beam Splitter Mount
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Bibthèque-->

            <div class="col-lg-4 col-sm-6">
                <a href="https://bibtheque.github.io" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Software
                            </div>
                            <div class="project-name">
                                Bibthèque
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Empty-->

            <div class="col-lg-4 col-sm-6">
                <a href="/#projects" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder_int.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Empty
                            </div>
                            <div class="project-name">
                                Waiting for a Project :)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <!--Empty-->

            <div class="col-lg-4 col-sm-6">
                <a href="/#projects" class="portfolio-box">
                    <!--image here-->
                    <img src="img/portfolio/place_holder.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Empty
                            </div>
                            <div class="project-name">
                                Waiting for a Project :)
                            </div>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</section>
