.showcase-header {
	font-size: 50px;
}

.showcase-preamble {
	margin-top: 70px;
	color: rgba(27,160,152,1);
	text-align: center;
}

.showcase-preamble .bar {	
	background-color: rgba(27,160,152,1);
	margin-bottom: 10px;
}

.portfolio-container {
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.portfolio-container img {
    width: 45%;
    margin: auto;
    min-width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.portfolio-container .text {
    width: 45%;
    margin: auto;
	text-align: justify;
    overflow: hidden;
}

.portfolio-container a {
	color: rgba(222,185,146,1);
	text-decoration: none;
	border: none;
}

.show-left, .show-right {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border: solid;
    margin: 25px;
}

.show-left:hover, .show-right:hover {
	opacity: .5;
	transition: .5s;
}

.show-left img {
    order: -1;
}

.show-right img {
    order: 1;
}
