<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About</a></li>
				<li><a href="/cv.html">CV</a></li>
				<li><a href="/research.html">Research</a></li>
				<li><a href="/projects.html">Projects</a></li>
	    		</ul>
			</nav>
			<div class="box">
			<div class="container">
			{{ content }}
			</div><!-- /.container -->
			</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:dg.kllr.jr@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dkllrjr">github</a></li>
			</ul>
			</footer>
		</body>
	</html>
