<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="/assets/css/styles.css">
		<link rel="shortcut icon" href="/assets/img/logo/AK_Researcher_logo_favicon.png">
		{% seo %}
	</head>
	<body>
		{% include header.html %}
		{% include navigation.html %}
		<div class="content">
			<div class="page-title">{{ page.title }}</div>
			<h2>{{ page.date | date_to_string: "ordinal", "US" }}</h2>
			{{ content }}
		</div>
		{% include contact.html %}
		{% include footer.html %}
	</body>
	<script src="/assets/js/sticky_nav.js"></script>
</html>
